.fundo {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vmin;
    font-family: sans-serif;
    display: flex;
    background: #f3e9de;

}

.loginbox {
    width: 500px;
    height: 480px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    box-shadow: 12px 16px 12px 2px rgba(0, 0, 0, 0.2);
}

.loginbox h1 {
    color: #330a00;
    float: left;
    font-size: 40px;
    border-bottom: 6px solid #330a00;
    margin-bottom: 50px;
    padding: 13px 0;
}

.box {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
}

.box input {
    border: none;
    outline: none;
    background: none;
    color: #330a00;
    font-size: 18px;
    width: 90%;
    float: left;
    margin: 0 10px;
    border-bottom: 1px solid #330a00;
    margin-bottom: 10%;
}

.btn {
    width: 90%;
    background: none;
    border: 2px solid #330a00;
    color: #330a00;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 1vmin;
    margin-left: 25px;
    text-decoration: none;
}

.btn_entrar1 {
    width: 90%;
    background: none;
    border: 2px solid #330a00;
    color: #330a00;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 25px;
}

.fundo{
    display: inline-block;
    text-decoration: none;
    list-style: none;
    padding: 5px;
    color: red;
}

.btn:hover {
    background: #d66c15;
}

.btn1:hover {
    background: #d66c15;
}

.loginbox1 {
    width: 500px;
    height: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    box-shadow: 12px 16px 12px 2px rgba(0, 0, 0, 0.2);
}

.loginbox1 h1 {
    color: #330a00;
    float: left;
    font-size: 40px;
    border-bottom: 6px solid #330a00;
    margin-bottom: 50px;
    padding: 13px 0;
}
