.lista-ing {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
}

.lista-ing article {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

.lista-ing article a {
    color: #da552f;
    height: 42px;
    border-radius: 5px;
    border: 2px solid #da552f;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.lista-ing article a:hover {
    background: #da552f;
    color: #fff;
}