header#main-header1 {
    width: 100%;
    height: 60px;
    background: rgba(51,10,0, 0.8);
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vmin;
}